<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${keyword}">SPRING BOOT</title>
</head>
<body>
    <h1>Thymeleaf</h1>
    &gt; &copy;
    <p>
        당신의 행운의 숫자는 <span th:text="${number}"></span> 이고
        오늘의 키워드는 <b th:utext="${keyword}"></b> 입니다.
    </p>
    <p>
        <span th:utext="${message}"></span>
    </p>

    &lt;script&gt;alert('??');&lt;/script&gt;
    <p>
        오늘의 숫자는 [[${number}]] 이고,
        오늘의 키워드는 [[${keyword}]] 이다.
    </p>
</body>
</html>